# Python environments
.venv/
venv/

# Conda
.env/
.conda/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code local settings
.vscode/

# macOS
.DS_Store

# Raw/intermediate data
data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Generated outputs
outputs/*
!outputs/.gitkeep
